<div class="center_content">

  <%= render "admin/sidemenu" %>

  <div class="right_content">
    <%=raw jqgrid("位置情報一覧", "ReceiversLocations", "/admin/receivers_locations",
      [
        { :name => "id", :label => "id", :index => 'id', :width => "70", :hidden => true },
        { :name => "user.login", :label => "ログイン名", :index => 'user_id', :width => 80 },
        { :name => "latitude", :label => "緯度", :width => 50 },
        { :name => "longitude", :label => "経度", :width => 50 },
        { :name => "updated_at", :label => "更新日時", :width => 100 ,
          :sorttype => 'date',
          :formatter => 'date',
          :formatoptions => {
            :srcformat => "UniversalSortableDateTime",
            :newformat => 'Y年 m月d日 G時i分'
          }},
          { :name => "id",
          :label => "地図",
          :search => false,
          :sortable => false,
          :align => 'center',
          :width => "30",
          :customFormatter => 'makeLink'
        }
      ],
      {
        :autowidth => true,
        :edit => false,
        :add => false,
        :view => false,
        :delete => false,
        :rowNum => 30,
        :rowList => [10,20,30,50],
        :height => 230,
      }
    ) %>
    </table>
  </div><!-- end of right content-->
</div>

<script type="text/javascript">
  function makeLink(cellvalue, options, rowObject){
    var url = "/admin/receivers_locations/"
    showUrl = url + cellvalue;
    return "<a href='" + showUrl + "'>地図</a>";
  }
</script>
