<div class="left_content">

    <div class="sidebarmenu">

      <a class="yellow_button" href="<%= admin_users_url %>">ユーザー管理</a>

      <a class="green_button" href="<%= admin_massages_url %>">マッチング管理</a>

      <a class="white_button" href="<%= admin_receivers_locations_url %>">位置情報管理</a>

      <a class="blue_button" href="<%= edit_admin_global_setting_url(1) %>">共通設定管理</a>


    </div>

</div>