<h2>入力情報の確認</h2>
<p id="notice"><%= notice %></p>

<%= render :partial => 'record' %>

<div class="buttonGroup">
  <%= render :partial => 'button_to_back' %>
  <%= render :partial => 'button_to_submit' %>
</div>
