<div class="block">
  <div class="content">


 		<%=raw jqgrid("依頼情報一覧", "SenderMessage", "/sender/massages",
			[
				{ :name => "id", :label => "id", :index => 'id',:align => 'center', :width => "55", :hidden => true },
				{ :name => "category.name", :label => "カテゴリ", :index => 'category_id',:align => 'center', :width => "55" },
				{ :name => "request_status.name", :label => "依頼ステータス", :index => 'request_status_id',:align => 'center', :width => "55" },
        { :name => "matching_count", :label => "該当者数", :index => 'matching_count',:align => 'center', :width => "55" },
				{ :name => "active_datetime",
					:label => "発信日",
					:index => 'active_datetime',
					:align => 'center',
					:sorttype => 'date',
					:formatter => 'date',
					:formatoptions => {
						:srcformat => "UniversalSortableDateTime",
						:newformat => 'Y年 m月d日 g時i分'
					}
				},
				{ :name => "validated_datetime",
					:label => "有効期限",
					:index => 'validated_datetime',
					:align => 'center',
					:sorttype => 'date',
					:formatter => 'date',
					:formatoptions => {
						:srcformat => "UniversalSortableDateTime",
						:newformat => 'Y年 m月d日 g時i分'
					}
				},
				{ :name => "id",
					:label => "操作",
					:search => false,
					:sortable => false,
					:align => 'center',
					:width => "55",
					:customFormatter => 'makeLink'
				}
			],
			{
				:autowidth => true,
				:edit => false,
				:add => false,
				:view => false,
				:delete => false,
				:rowNum	=> 30,
				:rowList => [10,20,30,50],
				:height => 300,
			}
		) %>

  		<a href="<%= new_sender_massage_url %>">新規作成</a>


</div>



<script type="text/javascript">
	//Ajaxで位置情報をポストする際に同時に送信されるユーザID
	var current_user_id = "<%= current_user.id %>";

	function makeLink(cellvalue, options, rowObject){
		var url = "<%= sender_massage_url(:id => "") %>";
		url = url + cellvalue;
		return "<a href='" + url + "'>詳細</a> | <a href='" + url + "' data-confirm='削除しますか?' data-method='delete' rel='nofollow'>削除</a>";
	}
</script>