<div class="menu">
    <%= render "sender/menu" %>
</div>

<div id="massage_form">
  <h2>新規の依頼登録シート</h2>
  <div class="echo">
    <b>依頼の内容を記入してください。<br />
    記入し終わったら、下の<a href="#submit">確認ボタン</a>を押してください。</b>
  </div>

  <%= render :partial => '/sender/massages/shared/form' %>
</div>
