<div class="menu">
    <%= render "sender/menu" %>
</div>

<h2>新規住所の登録</h1>

<div id="massage_form">
  <div class="echo">
    <b>登録したい住所の情報を記入してください。
    記入し終わりましたら、下の<u>確認ボタン</u>を押してください。</b>
  </div>

  <%= render :partial => '/sender/addresses/shared/form' %>
</div>
