<div class="menu">
  <%= link_to "新規依頼登録",new_sender_massage_url,:class => "white_button" %>
  <%= link_to "新規住所登録",new_sender_address_url,:class => "blue_button" %>
  <%= link_to "住所一覧",sender_addresses_url,:class => "green_button" %>
</div>