
@import "config";
@import "button";

//標準の定義
body {
  padding:0;
  color: #333;
  background-color:#f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.clear {
  clear:both;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  .echo{
    width:$table_width;
    font-size:16px;
    //border: 1px solid #C0C0C0;
    margin:5px 30px auto;
    padding:10px auto;
    background: #ffffff;
  }
}


h2 {
  width:auto;
  font-size:20px;
  color:#256c89;
  font-weight:bold;
  padding:0px 0 15px 0;
  margin:5px;
  margin-left:20px;
  //border: 1px solid #C0C0C0;
  clear:both;
}

h3 {
  font-size:18px;
  color:#256c89;
  font-weight:normal;
  padding:15px 0 5px 20px;
  margin:0px;
  float:left;
  clear:both;
}

h5{
  font-size:1.1em;
  //font-family: Gergia,'arial narrow',sans-serif;
  color:#111111;
  font-weight:normal;
  padding:15px 0 5px 20px;
  margin:0px;
  clear:both;
}
//部品の定義

#main_container {
  margin:0 auto;
  padding:5px auto;
  width:$total_width;
  //background-color:rgba(198, 233, 247, 0.10);
  //background-color:#507AAA;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00,rgba(80, 122, 170, 1.00)), color-stop(0.70, rgba(80, 122, 170, 1.00)), color-stop(1.00, rgba(80, 122, 170, 0.60)));
  padding:0px 0 0px 0;
}

.header {
  width:$total_width;
  height:50px;
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00,rgba(198, 233, 247, 0.50)),  color-stop(1.00,rgba(198, 233, 247, 0.50)));
}


.header_login {
  width:600px;
  margin:auto;
}


.top_header{
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, rgba(198, 233, 247, 0.80)), color-stop(0.00, rgba(198, 233, 247, 0.80)));
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, rgba(233, 233, 233, 0.80)), color-stop(0.00, rgba(233, 233, 233, 0.80)));
  width:$total_width;
  height:50px;
}

.left_header {
  //width:400px;
  float:left;
  text-align:left;
  padding:5px 5px 0;
  font-size:15px;
  a {
    margin:0 0 0 0;
    text-decoration:none;
    padding-left:10px;
  }
  a:link { color:$header_link_color ; }
  a:visited { color:$header_link_color ; }
}

.right_header {
  //width:400px;
  float:right;
  text-align:right;
  padding:5px 0 0 0;
  font-size:15px;
  color:$header_font_color;
  font-family: Verdana, sans-serif;
  a {
    margin:0 5px 0 5px;
    text-decoration:none;
    width:auto;
    &.logout {
      //background:url(asset-path('common/logput.png', image)) no-repeat right;
      cursor:pointer;
      border:2px solid #FC6060;
      //background-color:rgba(250, 119, 119, 0.81);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, rgba(255, 33, 55, 0.80)), color-stop(0.00, rgba(255, 33, 55, 1.00)));
    }
  }
  //a:link { color:$header_link_color ; }
  //a:visited { color:$header_link_color; }
  a:link { color:$header_font_color; }
  a:visited { color:$header_font_color; }
}

.logo {
  clear:both;
  float:left;
  padding:10px 0 0 5px;

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  a:link { color:$header_font_color ; }
  a:visited { color:$header_font_color ; }
}



.footer {
  width:810px;
  height:87px;
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00,rgba(198, 233, 247, 0.10)),  color-stop(1.00,rgba(198, 233, 247, 0.81)));

}

.footer_login {
  width:600px;
  margin:auto;
}

.left_footer {
  float:left;
  padding:25px 0 0 10px;
  color:#a8549b;
  font-size:11px;
}

.right_footer {
  float:right;
  padding:25px 10px 0 0;

  a {
    text-decoration: none;
    font-size: 1.2em;
  }
}

.left_footer_login {
  float:left;
  padding:15px 0 0 10px;
  color:#a8549b;
  font-size:11px;

  a {
    color:#FFFFFF;
    text-decoration:none;
  }
}

.right_footer_login {
  float:right;
  padding:15px 10px 0 0;
}

//ノート/エラー表示用

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin:5px 23px auto;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size:$font_size;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size:$font_size;
    list-style: square;
  }
}
