body {
  background-color: #fff;
  padding:0;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.clear {
  clear:both;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


h2 {
  font-size:20px;
  color:#256c89;
  font-weight:normal;
  padding:0px 0 15px 0;
  margin:0px;
  clear:both;
}

h3 {
  font-size:18px;
  color:#256c89;
  font-weight:normal;
  padding:15px 0 5px 20px;
  margin:0px;
  float:left;
  clear:both;
}

h5{
  font-size:1.1em;
  //font-family: Gergia,'arial narrow',sans-serif;
  color:#111111;
  font-weight:normal;
  padding:15px 0 5px 20px;
  margin:0px;
  clear:both;
}
#main_container {
  margin:0 auto;
  width:810px;
  padding:0px 0 0px 0;
}

.header {
  width:810px;
  height:100px;
  //background-color: #eef;
}

.header_login {
  width:600px;
  margin:auto;
}

.logo {
  float:left;
  padding:35px 0 0 0;

  a {
    text-decoration: none;
    font-size: 1.2em;
  }
}

.right_header {
  //width:400px;
  float:right;
  text-align:right;
  padding:40px 0 0 0;

  a {
    margin:0 5px 0 5px;
    text-decoration:none;

    &.logout {
      background:url(asset-path('common/user_logout.png', image)) no-repeat right;
      padding-right:18px;
    }
  }
}

.main_content {
  clear:both;
  margin:0 auto;
  width:810px;
  height:auto;
  padding:0px 0 50px 0;
}

.footer {
  width:810px;
  height:87px;
}

.footer_login {
  width:600px;
  margin:auto;
}

.left_footer {
  float:left;
  padding:25px 0 0 10px;
  color:#a8549b;
  font-size:11px;
}

.right_footer {
  float:right;
  padding:25px 10px 0 0;

  a {
    text-decoration: none;
    font-size: 1.2em;
  }
}

.left_footer_login {
  float:left;
  padding:15px 0 0 10px;
  color:#a8549b;
  font-size:11px;

  a {
    color:#FFFFFF;
    text-decoration:none;
  }
}

.right_footer_login {
  float:right;
  padding:15px 10px 0 0;
}

//admin/user.css.scssから移動
//Mixins
@mixin yellow_button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #e5e696), color-stop(1.00, #d1d35f));
  background: -webkit-linear-gradient(top, #e5e696 0%, #d1d35f 100%);
  background: -moz-linear-gradient(top, #e5e696 0%, #d1d35f 100%);
  background: -o-linear-gradient(top, #e5e696 0%, #d1d35f 100%);
  background: -ms-linear-gradient(top, #e5e696 0%, #d1d35f 100%);
  background: linear-gradient(to bottom, #e5e696 0%, #d1d35f 100%);
}

@mixin green_button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #cade97), color-stop(0.49, #9bbb50), color-stop(1.00, #388235));
  background: -webkit-linear-gradient(top, #cade97 0%, #9bbb50 49%, #388235 100%);
  background: -moz-linear-gradient(top, #cade97 0%, #9bbb50 49%, #388235 100%);
  background: -o-linear-gradient(top, #cade97 0%, #9bbb50 49%, #388235 100%);
  background: -ms-linear-gradient(top, #cade97 0%, #9bbb50 49%, #388235 100%);
  background: linear-gradient(to bottom, #cade97 0%, #9bbb50 49%, #388235 100%);
}

@mixin blue_button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #7a99cd), color-stop(0.00, #d1e0fa));
  background: -webkit-linear-gradient(top, #d1e0fa 0%, #7a99cd 100%);
  background: -moz-linear-gradient(top, #d1e0fa 0%, #7a99cd 100%);
  background: -o-linear-gradient(top, #d1e0fa 0%, #7a99cd 100%);
  background: -ms-linear-gradient(top, #d1e0fa 0%, #7a99cd 100%);
  background: linear-gradient(to bottom, #d1e0fa 0%, #7a99cd 100%);
}

@mixin white_button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #dddddd), color-stop(0.00, #fffafa));
  background: -webkit-linear-gradient(top, #fffafa 0%, #dddddd 100%);
  background: -moz-linear-gradient(top, #fffafa 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #fffafa 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #fffafa 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #fffafa 0%, #dddddd 100%);
}

.index_content {
  clear:both;
  .ui-jqgrid tr.jqgrow td {
    font-size:16px;
    //font-family: Gergia,'arial narrow',sans-serif;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }
}

//Styles
.center_content {
  clear:both;
}

.left_content {
  width:195px;
  float:left;
  padding:30px 0 0 20px;
}

.right_content {
  width:625px;
  float:left;
  padding:30px 0 0 30px;

  form {
    width: 540px;
    margin: 4px auto;
    background-color: #eee;
    padding: 10px;
    border: solid 1px #ccc;
  }
  ul {
    list-style:none;
    margin:0; padding:0;
  }
  li {
    list-style:none;
    margin:0; padding:6px;
    clear:both;
  }
  label {
    display:block;
    font-weight:bold;
    color:#666;
  }
  li span {
    float:left;
    margin:0 5px 0 0; padding:0;
  }
  li span label {
    color:#999;
    font-weight:normal;
    font-size:80%;
  }
  input.field,
    textarea {
      background:#fff url("img/css/fieldborder.png") repeat-x 0 0;
      border:1px solid #ddd;
      border-top-color:#ccc;
      border-left-color:#ccc;
      padding:3px;
  }
  textarea {
    width:100%;
  }
}

.sidebarmenu{
  margin:0px 0;
  padding:0;
  width:195px;

  a {
    color: #111 !important;
    text-align: center;
    width:185px;
    height:31px;
    margin:0 0 10px 0;
    line-height:35px;
    padding:0px 0 0 10px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #111;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.5);
    letter-spacing: 0;
    border: none;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    text-decoration: none;

    &.yellow_button {
      @include yellow_button;
    }

    &.green_button {
      @include green_button;
    }

    &.blue_button {
      @include blue_button;
    }
    &.white_button{
      @include white_button;
    }

    &.menuitem_red {
      &:hover {

      }

      &:visited,&:active {

      }
    }
  }
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}





