//css.scssの共通設定

$total_width:810px;

$table_width:750px;
$th_width:170px;
$td_width:530px;

$content_margin:10px;

$header_font_color:#FEFEFE;
$header_link_color:#EAEAEA;

$th_color:#2676AC;
$td_color:#F2F5F4;
$form_color:#fdfdff;

$font_size:16px;
$form_font_size:18px;