<div id="map_mobile_id" data-role="page">

	<div data-role="header">
		<a href="<%= receiver_massage_url(:id => @massage.id) %>" data-transition="slide" data-direction="reverse" data-icon="arrow-l">戻る</a>
		<h1>実施場所</h1>
	</div><!-- /header -->

	<div data-role="content">

  		<div id="map_mobile" class="ui-shadow"></div>

	</div><!-- /content -->

	<div data-role="footer">
		<h3>Social Matching System</h3>
	</div><!-- /footer -->

<script type="text/javascript">
	//Ajaxで位置情報をポストする際に同時に送信されるユーザID
	var current_user_id = "<%= current_user.id %>";

	//Goolge Map の作成	
	$(function(){
		var myLatlng = new google.maps.LatLng(<%= @massage.latitude %>,<%= @massage.longitude %>);   
		var myOptions = {
			zoom: 13,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_mobile"), myOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
		});
		
		$('div#map_mobile_id').live('pageshow',function(){
    		google.maps.event.trigger(map, 'resize');
    		map.setCenter(myLatlng);
  		});
	});
</script>

</div><!-- /page -->

