<div class="center_content">

	<%= render "admin/sidemenu" %>

	<div class="right_content">

		<%=raw jqgrid("ユーザー一覧", "Users", "/admin/users",
			[
				{ :name => "id", :label => "id", :index => 'id', :width => "70", :hidden => true },
				{ :name => "login", :label => "ログイン名", :index => 'login', :width => "100" },
				{ :name => "email", :label => "E-mail", :align => "center", :editable => true, :formatter => 'email' },
				{ :name => "family_name", :label => "姓", :width => 100 },
				{ :name => "given_name", :label => "名", :width => 100 },
				{ :name => 'sex', :index => 'sex', :label => "性別", :width => 70},
				{ :name => 'phone_number', :index => 'phone_number', :label => "電話番号"},
				{ :name => "id",
					:label => "操作",
					:search => false,
					:sortable => false,
					:align => 'center',
					:width => "130",
					:customFormatter => 'makeLink'
				}
			],
			{
				:autowidth => true,
				:edit => false,
				:add => false,
				:view => false,
				:delete => false,
				:rowNum	=> 10,
				:rowList => [10,20,30,50],
				:height => 230,
			}
		) %>

		<a href="<%= new_admin_user_url %>">ユーザーを追加する</a>

	</div><!-- end of right content-->
</div>
<!--end of center content -->

<script type="text/javascript">
	function makeLink(cellvalue, options, rowObject){
		var url = "/admin/users/"
		showUrl = url + cellvalue;
		editUrl = url + cellvalue + "/edit"
		return "<a href='" + showUrl + "'>詳細</a>" + " | <a href='" + editUrl + "'>編集</a>";
	}
</script>

