<div class="center_content">
  <h1>ユーザの作成</h1>

  <%= render "admin/sidemenu" %>

  <div class="right_content">
    <%= form_tag :action => "create" do %>
      <%= render 'form'%>
      <%= submit_tag "作成" %>
    <% end %>
   </div>
</div>
